.ticket-tile {
  height: 130px;
  width: 150px;
  border: 2px solid black;
  border-radius: 3px;
  p {
    font-size: 0.5em;
    font-weight: bold;
    padding: 10px;
  }
}

.ticket-container__created {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  .ticket-tile__counterContainer {
    text-align: center;
    font-size: 1.2em;
  }

  .ticket-tile__buttonContainer {
    display: flex;
    justify-content: space-around;

    button {
      width: 35px;
    }
  }
}
